<div id="chatVindu" class="minboks">
    <div class="row">
        <div class="col-md-4 my-col-medium">
            <!-- Her starter dropown med alle andre chats en bruker har -->
            
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle custom-dropdown-btn" type="button"
                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                </button>
                <ul class="dropdown-menu chat-liste" aria-labelledby="dropdownMenuButton1" id="chatListeTopp">
                    <!--
                    <li class="another-chat">  
                        <div>
                            <h5>Jacob1337</h5>
                            <p>trenger egg fordi muttærn glemte å kjøpe det når hu var på butikkæn, og derfor trenger
                                jeg
                                egg til å kunne lage pannekakær, fordi ho muttærn blir så morra gretten</p>
                        </div>
                    </li>
                    <li class="another-chat">
                        <div>
                            <h5>Mads69420</h5>
                            <p>Utlån av gressklipper brooombrooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooom</p>
                        </div>
                    </li>
                    <li class="another-chat">
                        <div>
                            <h5>Toddærn63</h5>
                            <p>masse fjas</p>
                        </div>
                    </li>
                    -->
                </ul>
            </div>
            

            <!-- Liste med chats når du ikke har minimert vindu -->
            <ul class="chat-liste-stor" id="chatListeVenstre">
                <!--
                <li class="another-chat">
                    <h5>Jacob1337</h5>
                    <p>ting og tang</p>
                </li>
                <li class="another-chat">
                    <h5>Mads69420</h5>
                    <p>Masse sakær jeg trenger for muttærn nå som vi ikke kan dra</p>
                </li>
                
                <li class="another-chat">
                    <h5>Toddærn63</h5>
                    <p>Lefser lefser jeg trengermmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmlefslllllllllllllllllllllllllllll
                    </p>
                </li>
                <li class="another-chat">
                    <h5>Toddærn63</h5>
                    <p>Lefser lefser jeg trengermmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmlefslllllllllllllllllllllllllllll
                    </p>
                </li>
                <li class="another-chat">
                    <h5>Toddærn63</h5>
                    <p>Lefser lefser jeg trengermmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmlefslllllllllllllllllllllllllllll
                    </p>
                </li>
                <li class="another-chat">
                    <h5>Toddærn63</h5>
                    <p>Lefser lefser jeg trengermmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmlefslllllllllllllllllllllllllllll
                    </p>
                </li>
                <li class="another-chat">
                    <h5>Toddærn63</h5>
                    <p>Lefser lefser jeg trengermmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmlefslllllllllllllllllllllllllllll
                    </p>
                </li>
                -->
            </ul>
        </div>


        <!-- Her kommer selve vinduet hvor en samtale foregår -->
        <div class="col-md-8 my-col-large">
            <div class="chat-window" id="chatVindu2">
                <!-- I denne div-en kommer selve meldingsboblene -->
            </div>

            <!-- Dette er hvor du skriver meldingen og trykker send -->
            <form id="skjema">
                <div class="chat-input-box">
                    <input class="msg-input" id="mld_inp" type="text" placeholder="Aa">
                    <button type="submit" class="msg-btn">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>