<!-- HTML skrevet av Jacob Kristensen -->
<div id="chatVindu" class="minboks">
    <div class="row">
        <div class="col-md-4 my-col-medium">
            <!-- Her starter dropown med alle andre chats en bruker har -->
            
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle custom-dropdown-btn" type="button"
                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Samtaler
                </button>
                <ul class="dropdown-menu chat-liste" aria-labelledby="dropdownMenuButton1" id="chatListeTopp">
                    
                </ul>
            </div>
            

            <!-- Liste med chats når du ikke har minimert vindu -->
            <ul class="chat-liste-stor" id="chatListeVenstre">
               
            </ul>
        </div>


        <!-- Her kommer selve vinduet hvor en samtale foregår -->
        <div class="col-md-8 my-col-large" id="mld_vindu">
            <div class="chat-window" id="chatVindu2">
                <!-- I denne div-en kommer selve meldingsboblene -->
            </div>

            <!-- Dette er hvor du skriver meldingen og trykker send -->
            <form id="skjema">
                <div class="chat-input-box">
                    <input class="msg-input" id="mld_inp" type="text" placeholder="Aa">
                    <button type="submit" class="msg-btn" onclick="sendMld()">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>