<ul id="u-liste" class="nav justify-content-between w-100 bg-white py-1 shadow-lg p-3 mb-5 bg-white rounded">
    <li class="nav-item">
        <a class="nav-link aktiv1 w3-xxxlarge" href="#" id="hjem" onclick="navigate(this.id)"><i class="fa fa-home"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link ikke_aktiv w3-xxxlarge" href="#" id="sok" onclick="navigate(this.id)"><i class="fa fa-search"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link ikke_aktiv w3-xxxlarge" href="#" id="melding" onclick="navigate(this.id)"><i class="fa fa-comment"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link ikke_aktiv w3-xxxlarge" href="#" id="bruker" onclick="navigate(this.id)"><i class="fa fa-user"></i></a>
    </li>
</ul>