<ul class="nav justify-content-between w-100 bg-white py-4 shadow-lg p-3 mb-5 bg-white rounded">
    <li class="nav-item">
        <a class="nav-link aktiv1 w3-xxxlarge" href="#"> <i class="fa fa-home"></i> </a>
    </li>
    <li class="nav-item">
        <a class="nav-link ikke_aktiv w3-xxxlarge" href="#"> <i class="fa fa-search"></i> </a>
    </li>
    <li class="nav-item">
        <a class="nav-link ikke_aktiv w3-xxxlarge" href="#"> <i class="fa fa-comment"></i> </a>
    </li>
    <li class="nav-item">
        <a class="nav-link ikke_aktiv w3-xxxlarge" href="#"> <i class="fa fa-user"></i> </a>
    </li>
</ul>