<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus"
        viewBox="0 0 16 16">
        <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </svg>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">


    <div class="modal-dialog modal-xl bg-Jet">
        <div class="modal-content">

            <div class="modal-body">
                <form id="form">
                <div class="container w-100 h-100 p-3 bg-White mt-2">

                    <h2 class="font-weight-bold text-dark m-auto"> Opprett annonse </h2>
                    <hr class="bg-Indigo">
                    <div class="m-5">

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label text-dark" for="flexCheckDefault">
                                Tilby
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label text-dark" for="flexCheckDefault">
                                Etterspørr
                            </label>
                        </div>

                        <div class="mt-3">
                            <label for="Title" class="form-label text-dark">Tittel</label>
                            <input class="form-control" id="Title" aria-describedby="emailHelp">
                        </div>


                        <div class="mb-3 mt-3">
                            <label for="Description" class="form-label text-dark">Beskrivelse</label>
                            <textarea class="form-control" id="Description" rows="3"></textarea>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                            <label class="form-check-label text-dark" for="flexCheckDefault">
                                Bruk min posisjon
                            </label>
                        </div>
                    </div>
                </div>
            

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="publish">Publiser</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>