<!-- Profilen -->
<div id="profilen">
    <div class="text-center">
        <img src="https://moonvillageassociation.org/wp-content/uploads/2018/06/default-profile-picture1.jpg"
            class="rounded-circle w-25 m-3" alt="...">
    </div>

    <p class="text-center fs-1">username
        <p class="text-center fs-5">0 Score></p>
    </p>

    <a href="#" onclick="openSettings()">
        <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="5rem" fill="currentColor"
            class="btn btn-dark bi bi-gear-wide-connected position-absolute center end-50" viewBox="0 0 16 16"
            style="margin-right: 10%">
            <path
                d="M7.068.727c.243-.97 1.62-.97 1.864 0l.071.286a.96.96 0 0 0 1.622.434l.205-.211c.695-.719 1.888-.03 1.613.931l-.08.284a.96.96 0 0 0 1.187 1.187l.283-.081c.96-.275 1.65.918.931 1.613l-.211.205a.96.96 0 0 0 .434 1.622l.286.071c.97.243.97 1.62 0 1.864l-.286.071a.96.96 0 0 0-.434 1.622l.211.205c.719.695.03 1.888-.931 1.613l-.284-.08a.96.96 0 0 0-1.187 1.187l.081.283c.275.96-.918 1.65-1.613.931l-.205-.211a.96.96 0 0 0-1.622.434l-.071.286c-.243.97-1.62.97-1.864 0l-.071-.286a.96.96 0 0 0-1.622-.434l-.205.211c-.695.719-1.888.03-1.613-.931l.08-.284a.96.96 0 0 0-1.186-1.187l-.284.081c-.96.275-1.65-.918-.931-1.613l.211-.205a.96.96 0 0 0-.434-1.622l-.286-.071c-.97-.243-.97-1.62 0-1.864l.286-.071a.96.96 0 0 0 .434-1.622l-.211-.205c-.719-.695-.03-1.888.931-1.613l.284.08a.96.96 0 0 0 1.187-1.186l-.081-.284c-.275-.96.918-1.65 1.613-.931l.205.211a.96.96 0 0 0 1.622-.434l.071-.286zM12.973 8.5H8.25l-2.834 3.779A4.998 4.998 0 0 0 12.973 8.5zm0-1a4.998 4.998 0 0 0-7.557-3.779l2.834 3.78h4.723zM5.048 3.967c-.03.021-.058.043-.087.065l.087-.065zm-.431.355A4.984 4.984 0 0 0 3.002 8c0 1.455.622 2.765 1.615 3.678L7.375 8 4.617 4.322zm.344 7.646l.087.065-.087-.065z" />
        </svg>
    </a>

    <a href="#" onclick="openEditProfile()">
        <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="5rem" fill="currentColor"
            class="btn btn-dark bi bi-pencil-square position-absolute center start-50" viewBox="0 0 16 16"
            style="margin-left: 10%">
            <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
        </svg>
    </a>


    <a onclick="openMyPosts()">
        <button class="btn btn-dark btn-lg position-absolute bottom-0 start-50 translate-middle">Mine innlegg</button>
    </a>
</div>


<!-- Brukerens innlegg -->
<div id="annonse_div" style="display: none;" class="container w-75 h-75 p-3 bg-Gainsboro mt-5">

    <h2 class="font-weight-bold text-dark m-auto"> Mine annonser </h2>
    <hr class="bg-Indigo">
    <button type="button" class="btn-close" aria-label="Close" onclick="closeMyPosts()"></button>

    <div class="container w-100 h-100">
        <div class="row row-cols-2">

            <div class="col w-75 m-auto">
                <table class="table" id="table">
                    <th colspan="1" scope="col"> Tittel </th>
                    <th colspan="1" scope="col"></th>
                    <th colspan="1" scope="col">Handlinger</th>
                </table>
            </div>
        </div>


        <p id="data"> </p>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl bg-Jet">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container w-100 h-100 p-3 bg-White mt-2">
                            <h2 class="font-weight-bold text-dark m-auto"> Rediger annonse </h2>
                            <hr class="bg-Indigo">
                            <div class="m-5">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label text-dark" for="flexCheckDefault">
                                        Tilby
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label text-dark" for="flexCheckDefault">
                                        Etterspørr
                                    </label>
                                </div>

                                <div class="mt-3">
                                    <label for="Title" class="form-label text-dark">Tittel</label>
                                    <input class="form-control" id="Title" aria-describedby="emailHelp">
                                </div>


                                <div class="mb-3 mt-3">
                                    <label for="Description" class="form-label text-dark">Beskrivelse</label>
                                    <textarea class="form-control" id="Description" rows="3"></textarea>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                                    <label class="form-check-label text-dark" for="flexCheckDefault">
                                        Bruk min posisjon
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                id="update">Oppdater</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Edit profile -->
<div id="redigerProfil_div" style="display: none;">
    <div class="container w-75 h-75 p-3 bg-Gainsboro mt-5">
        <div class="text-left">
            <img src="https://moonvillageassociation.org/wp-content/uploads/2018/06/default-profile-picture1.jpg "
                class="rounded-circle w-25 m-5" alt="...">

            <div class="input-group input group-lg mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" aria-describedby="button-addon2">

                <button class="btn btn-primary text-center" type="Button" id="button-addon2"> Endre profilbilde
                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="1rem" fill="currentColor"
                        class="bi bi-camera-fill center" viewBox="0 0 16 16" style="margin-bottom:3px">
                        <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                        <path
                            d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z" />
                    </svg>
                </button>
            </div>


            <hr>


            <form>
                <div class="mb-3">
                    <label class="form-label text-dark">Brukernavn</label>
                    <input type="name" class="form-control w-50" value="username">
                </div>

                <div class="row mb-3 w-50">

                    <div class="col-sm">
                        <label class="form-label text-dark">Fornavn</label>
                        <input type="text" class="form-control" value="firstname">
                    </div>
                    <div class="col-sm" style="margin-right:-4.5%">
                        <label class="form-label text-dark">Etternavn</label>
                        <input type="text" class="form-control" value="lastname">
                    </div>
                </div>



                <div class="mb-3">
                    <label class="form-label text-dark">E-post</label>
                    <input type="text" class="form-control w-50" id="exampleInputEmail1" value="example@hotmail.com">
                </div>

                <button type="submit" class="btn btn-danger">Lagre endringer</button>
                <button type="button" class="btn btn-danger btn-close" aria-label="Close" onclick="exitEditing()"></button>
            </form>

        </div>
    </div>
    <div id="output"></div>
</div>


<!-- Innstillinger -->
<div class="container w-75 h-75 p-3 bg-Gainsboro mt-5" id="innstillinger_div" style="display: none;">
    <h2 class="font-weight-bold text-dark m-auto"> Innstillinger </h2>
    <hr class="bg-Indigo">
    <button type="button" class="btn-close" aria-label="Close" onclick="closeSettings()"></button>
    <div class="m-5">
        <label for="customRange1" class="form-label text-dark">Radius</label>
        <input type="range" class="form-range" min="1" max="32" id="Avstand">

        <div class="container w-100 text-left">
            <div class="row row-cols-2">
                <div class="col w-25">
                    <label class="label text-dark">1km</label>
                </div>

                <div class="col w-50 text-center">
                    <div class="badge bg-primary ">Km: <span id="Verdi"></span></div>
                </div>

                <div class="col w-25 text-end">
                    <label class="label text-dark">32km</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-check m-5">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label text-dark" for="flexCheckDefault">
            Vis min posisjon
        </label>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl bg-Jet">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="container w-75 h-75 p-3 bg-White mt-5">


                        <h2 class="font-weight-bold text-dark m-auto"> Innstillinger </h2>
                        <hr class="bg-Indigo">
                        <div class="m-5">

                            <label for="customRange1" class="form-label text-dark">Radius</label>
                            <input type="range" class="form-range" min="1" max="32" id="Avstand">

                            <div class="container w-100 text-left">
                                <div class="row row-cols-2">

                                    <div class="col w-25">
                                        <label class="label text-dark">1km</label>
                                    </div>

                                    <div class="col w-50 text-center">
                                        <div class="badge bg-primary ">Km: <span id="Verdi"></span></div>
                                    </div>

                                    <div class="col w-25 text-end">
                                        <label class="label text-dark">32km</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-check m-5">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label text-dark" for="flexCheckDefault">
                                Vis min posisjon
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // Åpne og lukke "mine innlegg"
    function openMyPosts() {
        document.getElementById("profilen").style.display = "none";
        document.getElementById("annonse_div").style.display = "block";
    }
    function closeMyPosts() {
        document.getElementById("profilen").style.display = "block"; 
        document.getElementById("annonse_div").style.display = "none";
    }

    // Åpne og lukke "rediger profil"
    function openEditProfile() {
        document.getElementById("profilen").style.display = "none";
        document.getElementById("redigerProfil_div").style.display = "block";
    }
    function exitEditing() {
        document.getElementById("profilen").style.display = "block"; 
        document.getElementById("redigerProfil_div").style.display = "none";
    }

    // Åpne og lukke "innstillinger"
    function openSettings() {
        document.getElementById("profilen").style.display = "none"; 
        document.getElementById("innstillinger_div").style.display = "block";
    }
    function closeSettings() {
        document.getElementById("profilen").style.display = "block"; 
        document.getElementById("innstillinger_div").style.display = "none";
    }


    //første metode, henter bare siste element
	function getData() {
		firebase.database().ref('Annonse').on('value', function (snapshot) {
			snapshot.forEach(function (childSnapshot) {
				var childKey = childSnapshot.key;
				var childData = childSnapshot.val();
				document.getElementById("data").value = childData['tittel'];
			});
		});
	}

	//getData();


	//Henter info fra databasen og gir variabler til elementer fra databasen
	$(document).ready(function () {
		var rootRef = firebase.database().ref().child("Annonse");
		rootRef.on("child_added", snap => {
			var title = snap.child("tittel").val();
			var desc = snap.child("beskrivelse").val();
			var blå = snap.child("blå").val();
			var rød = snap.child("rød").val();
			var grønn = snap.child("grønn").val();
			var id = snap.child("id").val();

			//Fyller ut en html table med titler og handlingsknapper
			$("#table").append('<tr> <td class = "pt-4" style = "width:65%" id = "tekst">' + title + '</td>' + '<td>' + '<th scope="row">' +
				'<button type="button" class="btn btn-primary text-center m-2" id="' + blå + '" >' +
				'<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">' +
				'<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>' +
				'</svg>' + '</button>' +

				'<button type="button" class="btn btn-danger text-center m-2" id="' + rød + '">' +
				'<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">' +
				' <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>' +
				'</svg>' + '</button' + '</th>' +

				'<button type="button" class="btn btn-success text-center m-2" id="' + grønn + '">' +
				'<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">' +
				'<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>' +
				'</svg>' + '</button>' + '</tr></td>');


			//Edit knapp, åpner popup
			$(document).ready(function () {
				$('body').on('click', '#' + blå + '', function () {
					$('#myModal').modal('show');
					document.getElementById("Title").value = snap.child("tittel").val();
					document.getElementById("Description").value = snap.child("beskrivelse").val();

					//Oppdater Annonser knapp i popuppen
					$('body').on('click', '#update', function () {
						firebase.database().ref("Annonse").child(id).update({
							tittel: document.getElementById("Title").value,
							beskrivelse: document.getElementById("Description").value,
						});
						setTimeout(function () {
							window.location.reload(1);
						}, 0000);
					});
				});
			});

			//Remove knapp, fjerner raden fra databasen ved bruk av Keyen
			$(document).ready(function () {
				$('body').on('click', '#' + rød + '', function () {
					firebase.database().ref("Annonse").child(id).remove();
					setTimeout(function () {
						window.location.reload(1);
					}, 0001);
				});
			});
		});
	});


    // JavaScript kode fra Innstillinger.ejs:
    /* var abs = "Ting og tang"; firebaseConfig */
	document.getElementById("flexCheckDefault").onclick = function () {
        if (navigator.geolocation)
			navigator.geolocation.getCurrentPosition(function (position) {
				console.log(position);
			});

		else
			console.log("geolocation is not supported");
	};


    var slider = document.getElementById("Avstand");
	var output = document.getElementById("Verdi");
	output.innerHTML = slider.value;

	slider.oninput = function () {
		output.innerHTML = this.value;
	}
    //Slutt på JavaScript kode fra Instillinger.ejs
</script>