<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <title>Login page</title>

    
</head>
<body style="background-color:#353535; overflow: hidden;">

    <div class="container-fluid" style="background-color: purple;">

        <div class="row">

            <div class="col-3 vh-100" style="background-color: #353535;"> <!-- vh-100: setter høyden til å være lik skjerm høyden -->

                <div class="container-fluid overflow-auto vh-100"> <!-- eller fjerne vh-100 bytte ut med height: 45em-->
                    <!-- Her er det bare masse fillers lagt inn -->
                    <div class="container rounded" style="background-color: #3C6E71;">
                        <h5>Brukernavn</h5>
                        <p>Annonse-tittel</p>
                    </div>

                    <div class="container rounded" style="background-color: #3C6E71;">
                        <h5>Lefsegnafser</h5>
                        <p>Utlån av lefser</p>
                    </div>

                    <div class="container rounded" style="background-color: #3C6E71;">
                        <h5>JonKanon352</h5>
                        <p>Kanon til salgs</p>
                    </div>

                    <div class="container rounded" style="background-color: #3C6E71;">
                        <h5>FreddyFlyndrefjes</h5>
                        <p>Trenger julesokk</p>
                    </div>

                    <div class="container rounded" style="background-color: #3C6E71;">
                        <h5>Mads413</h5>
                        <p>Lån av egg</p>
                    </div>

                    <div class="container rounded" style="background-color: #3C6E71;">
                        <h5>Eksempel</h5>
                        <p>Annonse-tittel</p>
                    </div>
                    <div class="container rounded" style="background-color: #3C6E71;">
                        <h5>Eksempel</h5>
                        <p>Annonse-tittel</p>
                    </div>
                    <div class="container rounded" style="background-color: #3C6E71;">
                        <h5>Eksempel</h5>
                        <p>Annonse-tittel</p>
                    </div>
                    <div class="container rounded" style="background-color: #3C6E71;">
                        <h5>Eksempel</h5>
                        <p>Annonse-tittel</p>
                    </div>
                    <div class="container rounded" style="background-color: #3C6E71;">
                        <h5>Eksempel</h5>
                        <p>Annonse-tittel</p>
                    </div>
                    <div class="container rounded" style="background-color: #3C6E71;">
                        <h5>Eksempel</h5>
                        <p>Annonse-tittel</p>
                    </div>
                    <div class="container rounded" style="background-color: #3C6E71;">
                        <h5>Eksempel</h5>
                        <p>Annonse-tittel</p>
                    </div>
                    <div class="container rounded" style="background-color: #3C6E71;">
                        <h5>Eksempel</h5>
                        <p>Annonse-tittel</p>
                    </div>
                    <div class="container rounded" style="background-color: #3C6E71;">
                        <h5>Eksempel</h5>
                        <p>Annonse-tittel</p>
                    </div>
                    <div class="container rounded" style="background-color: #3C6E71;">
                        <h5>Eksempel</h5>
                        <p>Annonse-tittel</p>
                    </div>

                </div>

            </div>

            <div class="col-9" style="background-color: #353535;">
                
                <div class="container overflow-auto" style="background-color: white; height: 42em; overflow-wrap: break-word;">
                    <!-- Her kommer chatten | masse rot-->
                    <div class="container">
                        <p class="text-start rounded" style="background-color: skyblue; width:min-content; padding:0px 3px;">Med</p>
                        <p class="text-end">Den</p>
                        <p class="text-end">Barmen</p>
                        <p class="text-start rounded" style="background-color: skyblue; width:min-content; padding:0px 3px;">Men</p>
                        <p class="text-start rounded" style="background-color: skyblue; width:min-content; padding:0px 3px;">Også</p>
                        <p class="text-end">Med</p>
                        <p class="text-start rounded" style="background-color: skyblue; width:min-content; padding:0px 3px;">Den</p>
                        <p class="text-end">Sangen</p>
                        <p class="text-start rounded" style="background-color: skyblue; width:min-content; padding:0px 3px;">Eller</p>
                        <p class="text-end">Hva</p>
                        <p class="text-start rounded" style="background-color: skyblue; width:min-content; padding:0px 3px;">GRESSKLIPPER!</p>
                        <p class="text-end">Lefser</p>
                        <p class="text-end">med den barmen med den sangen</p>
                        <p class="text-start rounded" style="background-color: skyblue; width:min-content; padding:0px 3px;">awdwad</p>
                        <p class="text-start rounded" style="background-color: skyblue; width:min-content; padding:0px 3px;">awdasadfwef</p>
                        <p class="text-end">gergeg erg</p>
                        <p class="text-end">wefwe wgwefsfsf</p>
                        <p class="text-start rounded" style="background-color: skyblue; width:min-content; padding:0px 3px;">alkmlkm jknjna</p>
                        <p class="text-end">adwdaw</p>
                        <p class="text-end">lklk kjnkjnhbbu lkmlk iuiub nkj lakwmdlakwmd lakwmdlakwmd alwkmdlakwmd lakwmd</p>
                        <p class="text-start rounded" style="background-color: skyblue; width:min-content; padding:0px 3px;">dawkjdnakwjnda</p>
                        <p class="text-end">awdøawld</p>
                    </div>

                </div>
                <!-- Her kommer message baren -->
                <div class="input-group mb-3"> 
                    <input type="text" class="form-control" placeholder="...">
                    <button class="btn btn-primary" type="button" id="sendMessageButton">Send</button>
                </div>

            </div>

        </div>
    </div>
</body>
</html>