<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/various.css">
    <title>G & G</title>
</head>
<body class="bg-jet">
    <ul class="nav justify-content-between w-100 bg-white py-4 shadow-lg p-3 mb-5 bg-white rounded">
        <li class="nav-item">
            <a class="nav-link aktiv1 w3-xxxlarge" href="#"> <i class="fa fa-home"></i> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link ikke_aktiv w3-xxxlarge" href="#"> <i class="fa fa-search"></i> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link ikke_aktiv w3-xxxlarge" href="#"> <i class="fa fa-comment"></i> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link ikke_aktiv w3-xxxlarge" href="#"> <i class="fa fa-user"></i> </a>
        </li>
    </ul>
</body>
</html>