<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T E S T</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/various.css">
    <link rel="stylesheet" href="css/main.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </style>
</head>
<body style="color: black;">
    <div class="text-center">
        <h2>Tittel</h2>
        <p>Beskrivelse</p>
        <p class="font-italic"></p>
        
        <button type="button" class="btn btn-primary btn-default btn-circle">
            <i class="fas fa-comment"></i>
        </button>
    </div>
</body>
</html>