<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    <!-- <link rel="stylesheet" href="css/various.css"> -->
</head>
<body>
    <!-- <%- include('partials/loginp.ejs'); %>  -->

  
    <!--<div class="input-group">
        <div class="form-outline">
            <input id="search-focus" type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>

    
    <script>
        const searchFocus = document.getElementById("search-focus"); 
        const keys = [
            {keyCode: "AltLeft", isTriggered: false},
            {keyCode: "ControlLeft", isTriggered: false},
        ]; 


        window.addEventListener("keydown", (e) => {
            keys.forEach((obj) => {
                if(obj.keyCode === e.code) {
                    obj.isTriggered = true; 
                }
            });

            const shortcutTriggered = keys.filter((obj) => obj.isTriggered).length === keys.length;

            if(shortcutTriggered) {
                searchFocus.focus();
            }
        });


        window.addEventListener("keyup", (e) => {
            keys.forEach((obj) => {
                if(obj.keyCode = e.code) {
                    obj.isTriggered = false; 
                }
            });
        });
    </script>-->
</body>
</html>