<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>G & G</title>

    
    <!-- Style filer (bootstrap, css, font-awesome og W3Schools) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/various.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/chatstyle.css">


    <!-- JQuery linker -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>


    <!-- Leaflet-linker (Kartet) -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <div id="chatVindu" class="minboks">
        <div class="row">
            <div class="col-md-4 my-col-medium">
                <!-- Her starter dropown med alle andre chats en bruker har -->
                
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle custom-dropdown-btn" type="button"
                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown button
                    </button>
                    <ul class="dropdown-menu chat-liste" aria-labelledby="dropdownMenuButton1" id="chatListeTopp">
                        <!--
                        <li class="another-chat">  
                            <div>
                                <h5>Jacob1337</h5>
                                <p>trenger egg fordi muttærn glemte å kjøpe det når hu var på butikkæn, og derfor trenger
                                    jeg
                                    egg til å kunne lage pannekakær, fordi ho muttærn blir så morra gretten</p>
                            </div>
                        </li>
                        <li class="another-chat">
                            <div>
                                <h5>Mads69420</h5>
                                <p>Utlån av gressklipper brooombrooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooom</p>
                            </div>
                        </li>
                        <li class="another-chat">
                            <div>
                                <h5>Toddærn63</h5>
                                <p>masse fjas</p>
                            </div>
                        </li>
                        -->
                    </ul>
                </div>
                
    
                <!-- Liste med chats når du ikke har minimert vindu -->
                <ul class="chat-liste-stor" id="chatListeVenstre">
                    <li class="another-chat" onclick="test()">
                        <h5>Jacob1337</h5>
                        <p>ting og tang</p>
                    </li>
                    <!--
                    <li class="another-chat">
                        <h5>Mads69420</h5>
                        <p>Masse sakær jeg trenger for muttærn nå som vi ikke kan dra</p>
                    </li>
                    
                    <li class="another-chat">
                        <h5>Toddærn63</h5>
                        <p>Lefser lefser jeg trengermmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmlefslllllllllllllllllllllllllllll
                        </p>
                    </li>
                    <li class="another-chat">
                        <h5>Toddærn63</h5>
                        <p>Lefser lefser jeg trengermmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmlefslllllllllllllllllllllllllllll
                        </p>
                    </li>
                    <li class="another-chat">
                        <h5>Toddærn63</h5>
                        <p>Lefser lefser jeg trengermmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmlefslllllllllllllllllllllllllllll
                        </p>
                    </li>
                    <li class="another-chat">
                        <h5>Toddærn63</h5>
                        <p>Lefser lefser jeg trengermmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmlefslllllllllllllllllllllllllllll
                        </p>
                    </li>
                    <li class="another-chat">
                        <h5>Toddærn63</h5>
                        <p>Lefser lefser jeg trengermmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmlefslllllllllllllllllllllllllllll
                        </p>
                    </li>
                    -->
                </ul>
            </div>
    
    
            <!-- Her kommer selve vinduet hvor en samtale foregår -->
            <div class="col-md-8 my-col-large" id="mld_vindu">
                <div class="chat-window" id="chatVindu2">
                    <!-- I denne div-en kommer selve meldingsboblene -->
                </div>
    
                <!-- Dette er hvor du skriver meldingen og trykker send -->
                <form id="skjema">
                    <div class="chat-input-box">
                        <input class="msg-input" id="mld_inp" type="text" placeholder="Aa">
                        <button type="submit" class="msg-btn">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        var msgWindow = document.getElementById("mld_vindu");
        
        function test() {

        }
    </script>
</body>
</html>